<!--- Renders the text/heading on the Jumbo header  -->
<% @banner_title = 'Users' %>

<!--- Jumbo header  -->
<%= render "users/profileheader"%>


<p id="notice"><%= notice %></p>
<div class="row row-cols-5 mb-5">
<% current_user.users_not_friends_with.each do |user| %>
  <% if current_user.id != user.id %>
  <div class="col mb-5">
    <div class="card" style="width: 12rem;">
      <img src="https://www.kirkham-legal.co.uk/wp-content/uploads/2017/02/profile-placeholder.png" class="card-img-top" alt="...">
      <div class="card-body bg-dark text-white">
        <h5 class="card-title ">@<%= user.username %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= user.first_name %> <%= user.last_name %></li>
        <li class="list-group-item"><%= link_to 'Show', user %></li>
        <li class="list-group-item"><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></li>
      </ul>
    </div>
  </div>
  <% end %>
  <% end %>
</div>



